@import "tailwindcss";

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        @apply bg-neutral-900
    }

    .no-selectable {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .back-visibility {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .animate-in {
        animation: animate-in .4s ease-in-out;
    }

    @keyframes animate-in {
        from {
            opacity: 0;
            transform: scale(0.8);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }
}